.head{width:100%;min-width:1170px;}
.bj{width:100%;min-width:1170px;border-bottom:1px solid #dddddd;height:30px;border-top:1px solid #dddddd;background:#f9f9f9;}
.nav{width:1170px;margin:0 auto;height:30px;}
.n-ull{float:left;}
.nav a{position:relative;}
.n-ull li{float:left;line-height:30px;height:30px;}
.n-ull .li1{background:url(../img/bj1.png) no-repeat 0 center;padding-left:17px;padding-right:19px;}
.n-ull .li2{padding-right:15px;}
.n-ull .li2 a{color:#f76120;}
.n-ull .li3{padding-right:19px;}
.n-ull .li3 a{display:block;height:15px;width:34px;border-right:1px solid #dddddd;margin-top:8px;line-height:15px;}
.n-ull .li4{background:url(../img/bj2.png) no-repeat 5px center;position:relative;border-right:1px solid #f9f9f9;border-left:1px solid #f9f9f9;}
.n-ull .li4 a{position:relative;display: block;height:30px;width:81px;text-align: center;}
.n-ull .li4 span{position:absolute;width:6px;height:3px;top:14px;right:5px;background: url(../img/bj3.png) no-repeat 0 0;}

.n-ulr{float:right;}
.n-ulr li{float:left;line-height:30px;height:30px;}
.n-ulr .li1{margin-right:12px;}
.n-ulr .li2{margin-right:12px;position:relative;border-right:1px solid #f9f9f9;border-left:1px solid #f9f9f9;}
.n-ulr .li2 a{display:block;width:69px;height:15px;border-right:1px solid #dddddd;height:30px;padding-left: 10px;}
.n-ulr .li2 span{position:absolute;width:6px;height:3px;top:14px;right:9px;background: url(../img/bj3.png) no-repeat 0 0;}
.n-ulr .li3{background:url(../img/bj4.png) no-repeat 0 center;position:relative;margin-left:12px;border-right:1px solid #f9f9f9;border-left:1px solid #f9f9f9;}
.n-ulr .li3 a{display:block;width:88px;border-right:1px solid #dddddd;height:30px;padding-left: 22px;}
.n-ulr .li3 a i{color:#f76120;}
.n-ulr .li3 span{position:absolute;width:6px;height:3px;top:14px;right:9px;background: url(../img/bj3.png) no-repeat 0 0;}
.n-ulr .li4{margin-right:12px;position:relative;border-right:1px solid #f9f9f9;border-left:1px solid #f9f9f9;}
.n-ulr .li4 a{display:block;width:49px;height:15px;border-right:1px solid #dddddd;height: 30px;padding-left: 10px;}
.n-ulr .li4 span{position:absolute;width:6px;height:3px;top:14px;right:14px;background: url(../img/bj3.png) no-repeat 0 0;}

.con{width:1170px;margin:0 auto;position:relative;}
.con span{position:absolute;width:12px;height:10px;top:9px;right:8px;background:url(../img/bj5.png) no-repeat 0 0;}

.below{width:1170px;margin:0 auto;margin-top:21px;}
.be-l{float:left;}
.be-l h1{float:left;width:82px;height:54px;background:url(../images/bj2.jpg) no-repeat 0 0;text-indent:-999em;}
.bel-r {float:right;width:60px;height:50px;margin-left:10px;margin-top:2px;position:relative;}
.bel-r i{display:block;line-height:29px;font-size:16px;}
.bel-r span{display:block;width:58px;height:19px;border:1px solid #eeeeee;color:#999999;font-size:12px;line-height:19px;text-align:center;cursor:pointer;}

.be-r{float:right;}
.ber-l{float:left;}
.berl-t{height:38px;width:484px;border:2px solid #2bb8aa;}
.xl{float:left;width:62px;height:38px;border-right:1px solid #dddddd;position:relative;border-left:1px solid #fff;}
.xl span{position:absolute;width:6px;height:3px;top:17px;right:7px;background: url(../img/bj3.png) no-repeat 0 0;}
.xl i{cursor:pointer;display:block;font-size:14px;text-align:center;line-height:38px;}
.berlt-ipt{float:left;width:353px;height:38px;font-size:14px;color:#666;border:none;padding-left:5px}
.berlt-btn{float:left;width:62px;height:38px;border:none;color:#fff;font-size:14px;background:#2bb8aa;cursor:pointer;}
.berl-b{height:40px;}
.berl-b a{float:left;line-height:40px;margin-right:20px;}

.ber-r{float:right;margin-top:9px;margin-left:154px;}
.ber-r li{float:left;margin-left:21px;}
.ber-r li span{display:block;text-align:center;}
.ber-r li p{line-height:20px;}


.head a:hover{color:#2bb8aa;}





/*js*/

.head-xs-div{position:absolute;left:-1px;top:30px;background:#fff;border:1px solid #dddddd;width:164px;z-index:1;display:none;}
.head-xs-div h3{height:29px;line-height:29px;padding-left: 17px;background:url(../img/bj30.png) no-repeat 10px center;}

.head-xs-div1{position:absolute;left:-1px;top:30px;background:#fff;border:1px solid #dddddd;width:80px;z-index:1;padding:10px 0;display:none;}
.head .li2 .head-xs-div1 a{display:block;line-height: 30px;padding-left:12px;height:30px;margin-top:0;border:none;}
.head-xs-div2{position:absolute;right:-1px;top:30px;background:#fff;border:1px solid #dddddd;width:220px;z-index:1;height:70px;display:none;}
.head-xs-div2 p{line-height: 70px;text-align:center;color:#000;}
.head-xs-div3{position:absolute;left:-1px;top:30px;background:#fff;border:1px solid #dddddd;width:92px;z-index:1;padding:10px 0;display:none;}
.head .li2 .head-xs-div3 a{display:block;line-height: 30px;padding-left:12px;height:30px;margin-top:0;border:none;}
.head-xs-div4{position:absolute;right:-1px;top:30px;background:#fff;border:1px solid #dddddd;width:108px;z-index:1;padding:10px 0;display:none;}
.head .n-ulr .li2 .head-xs-div4 a{display:block;line-height: 30px;padding-left:12px;height:30px;margin-top:0;border:none;margin:0;width:90px;}
.head-xs-div5{position:absolute;right:-1px;top:30px;background:#fff;border:1px solid #dddddd;width:80px;z-index:1;padding:10px 0;display:none;}
.head .n-ulr .li4 .head-xs-div5 a{display:block;line-height: 30px;padding-left:12px;height:30px;margin-top:0;border:none;}

.bj .nav .active{background: url(../img/bj32.png) no-repeat 0 0;}

.xl-div{position:absolute;width:61px;height:39px;border:1px solid #dddddd;border-top:none;background:#fff;display:none;}
.xl-div p{line-height: 39px;text-align:center;font-size:14px;color:#666666;cursor:pointer;}
.xl .active{background: url(../img/bj32.png) no-repeat 0 0;}
