html{width:100%;height:100%;}
body{width:100%;height:100%;background:url(../images/zpbj1.jpg) no-repeat 0 0;background-size: 100%; transition: all 1s }
.applemenu{position:absolute;bottom:0;left:0;text-align: center;width:100%;z-index:99;}
.applemenu img{width:64px;cursor:pointer;vertical-align:bottom;}
.applemenu .black{-webkit-filter:grayscale(100%);-moz-filter:grayscale(100%);-ms-filter:grayscale(100%);-o-filter:grayscale(100%);filter:grayscale(100%);filter:gray;}


.content{width:100%;height:100%;overflow:hidden;position:relative;}
.mainbox{position:absolute;top:0;left:0;}
.cond{float:left;}
.a4{background: green;}


/*作品展示*/
.a2{position:relative; }
.waparent{position: relative;width:100%;height:100%;}
.works{ position:absolute; height:100%;background:url(../images/zp0.jpg) no-repeat 0 0;position:absolute;top:0;left:50%;border-radius:50%;-webkit-border-radius:50%;opacity:0;filter:alpha(opacity=0);-webkit-filter:grayscale(100%);-moz-filter:grayscale(100%);-ms-filter:grayscale(100%);-o-filter:grayscale(100%);filter:grayscale(100%);filter:gray }
.worksplay{ position:absolute; top:50%;left:50%;width:400px;height:400px;margin-top:-200px;margin-left:-200px;}
.worksplay li{position:absolute;width:200px;height:200px;border-radius:50%;-webkit-border-radius:50%;margin-left:-100px;margin-top:-100px;transform: scale(0.7,0.7);}
.worksplay li a{display:block;height:100%;position:relative;}
.wpdw{position:relative;width:100%;height:100%;}
.wpbj{position:absolute;top:0;left:0;width:100%;height:100%;top:0;left:0;background:#000;opacity:0.5;filter:alpha(opacity=50);border-radius:50%;-webkit-border-radius:50%;}
.wpwz{position:absolute;width:100%;height:100%;}
.wpwz h3{height:200px;line-height:200px;text-align:center;font-size:50px;color:#fff;}
.worksplay .active{transform: scale(1,1)}
/*更多作品*/
.morebtn{position:absolute;width:100px;height:50px;right:0;bottom:50px;background:red;z-index:10; cursor:pointer;}
.moreworks{ width:100%; height:100%;  position:absolute; top:0; left:0; opacity:0; display:none; opacity:0; filter:alpha(opacity=0); }
.mwbj{ width:100%; height:100%;  background:#000; opacity:0.5; filter:alpha(opacity=50);}
.mwgb{ width:40px; height:40px; position:absolute; top:50px; right:50px; background:url(../images/gb.png) no-repeat 0 0; background-size:100%; cursor:pointer;  }



/*自我介绍*/
.a1{ position:relative;}
.caboutme{ width:100%;height:100%;background:#000;opacity:0.5;filter:alpha(opacity=50); }
.aMedot{position:absolute;right:20px;bottom:50px;height:120px; z-index:50; }
.aMedot li{height:20px;width:20px;margin-bottom: 20px;border-radius:50%;-webkit-border-radius:50%;background:#07eff2;cursor:pointer;}
.aMedot .active{ background:red; position:absolute; top:0; left:0; }
.abMemain{ position:absolute; top:0; left:0; width:100%; height:100%; }
.abmelb{ position:absolute; width:100%; height:100%; top:0; left:0; opacity:0; filter:alpha(opacity=0); }
.abmelb-l{ position:absolute; width:50%; height:100%; top:0;   }
.abmelb-r{ position:absolute; width:50%; height:100%; top:0;   }
.abMemain .show{ z-index:1; }
.abmeh2{ margin-top:100px; font-size: 60px; color:#fff; font-family: '楷体'; padding-left:150px; margin-bottom: 50px; }
.abmehp{ padding: 5px 100px; font-size: 30px; color:#fff; font-family: '楷体';text-indent: 2em; }
.abmelb-rh2{ position:absolute; top:100px; right:100px; font-size: 60px; color:#fff; font-family: '楷体'; padding-left:150px; width:65px; }
.abmelb-rp1{ position:absolute; width:35px; top:150px; right:200px; font-size: 30px; color:#fff; font-family: '楷体'; }
.abmelb-rp2{ position:absolute; width:35px; top:200px; right:260px; font-size: 30px; color:#fff; font-family: '楷体'; }

/*游戏*/
.a3 h2{ height:100px; font-size:48px; color:#fff; width:980px; line-height:100px; text-align:center; margin:0 auto; padding-top:50px; font-family: '楷体' }
.game{ width:480px; margin:0 auto;padding: 30px 0;}
.gamexxl{ width:200px; height:200px; float:left; background:blue; position:relative; margin:0 40px 20px 0; }
.gamebj{ width:100%; height:100%; background:#000; opacity:0.5; filter:alpha(opacity=50); }
.gametb{ position:absolute; width:100%; height:100%; top:0; left:0; font-size:50px; line-height:200px; text-align:center; color:#fff; transition:all 1s; }