/*login*/

.uselogin{ position:fixed; top:0; left:0; background:#21d4b6;color:#fff; z-index:999; width:100%; height:100%; display:none; }
.loginwin{ width:20rem; height:20rem; margin-left:-10rem; margin-top:-10rem;padding-top: 20px; position:absolute; top:50%; left:50%; }
.uselogin input{background:#fff;}
.uselogin_name{ padding:0 5px  20px  5px; }
.uselogin_name b{ float:left; width:25%; text-align:center;  font-size:16px; line-height:30px; }
.uselogin_name input{ float:right; width:75%; height:30px; }
.uselogin_pass{ padding:0 5px  20px  5px; }
.uselogin_pass b{ float:left; width:25%; text-align:center;  font-size:16px; line-height:30px; }
.uselogin_pass input{ float:right; width:75%; height:30px; }
.btn_login input{ float:left; width:30%; margin:0 10% 0 10%; height:30px; font-size:14px; cursor:pointer; }
.closelogin{position:absolute; width:25px; height:25px; background:url(../img/gb.png) no-repeat; background-size:100% 100%; margin-right:0.75rem; text-indent:-9999px; top:3rem; right:3rem;}


/*注册*/

.sub{ width:100%; height:100%; position:fixed; top:0; left:0; background:#21d4b6; z-index:999;text-align:right; display:none;}
.sub input{background:#fff;}
.subwin{ width:30rem; height:30rem; margin-left:-15rem; margin-top:-15rem;padding-top: 20px; position:absolute; top:50%; left:50%; }
.sub_name{ padding:0 5px  10px  5px; }
.sub_name b{ float:left; width:25%; text-align:center;  font-size:16px; line-height:30px; }
.sub_name input{ float:right; width:75%; height:30px; }
.sub_dx{ padding:0 5px  10px  5px; }
.sub_dx input{ float:right;  width:75%; height:30px; cursor:pointer; font-size:14px;}
.sub_nc{ padding:0 5px  10px  5px; }
.sub_nc b{ float:left; width:25%; text-align:center;  font-size:16px; line-height:30px; }
.sub_nc div{ float:right; width:75%; height:20px; text-align:center; padding-top:10px;font-size: 16px;}
.sub .button1{ width:75%;height:30px;background:#223F7E; margin-top:30px;font-size:14px;cursor:pointer;}
.closesub{position:absolute; width:25px; height:25px; background:url(../img/gb.png) no-repeat; background-size:100% 100%; margin-right:0.75rem; text-indent:-9999px; top:3rem; right:3rem;}
.subtips{ font-size:14px; color:red; text-align:center;height:30px;line-height:30px; }

 /*侧边栏*/
.sidea{position:fixed;width:54px; height:108px;right:0;top:50%;z-index:100; margin-top:-54px;}
.sidea .qqandwc{ z-index:200; position:relative; }
.sidea .qqandwc li{ height:54px; width:54px; text-align:center; cursor:pointer;  }
.sidea .qqxq{ position:absolute; top:0; left:0; }
.sidea .qqxq li{ width:108px; height:108px; position:absolute; top:0;left:0;opacity:0; background:rgba(0,0,0,0.5); border-radius:20px; -webkit-border-radius:20px; overflow:hidden;}
.sidea .qqxq li p{ font-size:14px; line-height:20px; padding: 10px 5px 0 5px;width:100px; }
.sidea .qqxq li img{ width:100%; height:100%; }











header{ height:85px;  position:fixed; top:0; left:0; width:100%; z-index:100;background:rgba(0,0,0,0.5) }
.headbox{ padding:0 2.5rem;  width:100%; box-sizing:border-box;}
/*header h1{ width:8.35rem; height:2.85rem; background:url(../img/logo.png) no-repeat; background-size:100% 100%; text-indent:-9999px; overflow:hidden; margin-left:0; }*/

.headnav li a{ font-size: 16px; color:#fff; font-family: '微软雅黑'; }
.headnav-min li a{ font-size: 16px; color:#fff; font-family: '微软雅黑'; }
.navbtn{ float:right; width:32px; height:32px; background:url(../img/navbar.png) no-repeat; margin: 25px 30px 0 30px;}


.page-one{ background:url(../img/bj.jpg) no-repeat  center; background-size:cover; position:relative; }
.page-two{ background:url(../img/bj1.jpg) no-repeat center ; background-size:cover; position:relative; }
.page-thr{ background:url(../img/bj2.jpg) no-repeat  center; background-size:cover; position:relative; }

.zynavbar{ width:2rem; height:3px; background:blue; position:absolute; top:0; left:0; }

html{ font-size: 20px;}

.page3{height: 100%; background: url(../images/cp.jpg) no-repeat center; background-size: cover; padding: 0; position: relative;}
.page3 .bg{ width: 100%; height: 100%; background: #fff; opacity: 0.4; filter: alpha(opacity:40); position: absolute; left: 0; top: 0;}
.page3-content{ width: 100%; position: absolute; top: 15%; z-index: 2;}
.p3-tit{ padding: 0; width: 21rem; text-align: center; margin: 0 auto; font-size: 2.05rem; color: #21D4B6; height: 2.55rem; line-height: 2.55rem; font-weight: bold; border-bottom: 1px solid #21D4B6; letter-spacing: 0.4rem;}
.p3-tit1{ padding: 0; width: 21rem; height: 1rem; line-height: 1rem; margin: 0 auto; text-align: center; font-size: 1rem; color: #21D4B6; letter-spacing: 0.2rem;}






/*媒体查询*/
/* 超小设备（手机，小于 768px） */
/* Bootstrap 中默认情况下没有媒体查询 */

@media screen and (max-width:767px){
	/*注册*/
	.sidea{ display:none; }
	.sub{ width:100%; height:100%; position:fixed; top:0; left:0; background:#21d4b6; z-index:999;text-align:right;}
	.sub input{background:#fff;}
	.subwin{ width:22rem; height:30rem; margin-left:-11rem; margin-top:-18rem;padding-top: 20px; position:absolute; top:50%; left:50%; }
	.sub_name{ padding:0 5px  10px  5px; }
	.sub_name b{ float:left; width:25%; text-align:center;  font-size:12px; line-height:30px; }
	.sub_name input{ float:right; width:75%; height:30px; }
	.sub_dx{ padding:0 5px  10px  5px; }
	.sub_dx input{ float:right;  width:75%; height:30px; cursor:pointer; font-size:14px;}
	.sub_nc{ padding:0 5px  10px  5px; }
	.sub_nc b{ float:left; width:25%; text-align:center;  font-size:12px; line-height:30px; }
	.sub_nc div{ float:right; width:75%; height:20px; text-align:center; padding-top:10px;font-size: 16px;}
	.sub .button1{ width:75%;height:30px;background:#223F7E; margin-top:30px;font-size:14px;cursor:pointer;}
	






	header .zynavbar{ display:none; }
	header{ height:65px;  position:fixed; top:0; left:0; width:100%; z-index:100;background:rgba(0,0,0,0.5) }
	.headbox h1{ float:left;margin-top: 2rem; }
	.navbtn{ float:right; width:32px; height:32px; background:url(../img/navbar.png) no-repeat; margin: 2rem -1rem 0 0;}
	.fpnavabox{width: 10rem; float:right;}
	.headnav{ display: none; }
	.headnav-min{ position:absolute; right: -15rem; top: 7rem; }
	.headnav-min li{ text-align: center; line-height: 3rem; }
	.headnav-min li a{ background: #ccc; display: block; color: #000; padding: 0 2rem; }

	.login {margin-top: 1.45rem; float:left;}
	.login a {font-size:14px;color: #fff;font-family: '微软雅黑'; line-height: 3rem;}
	header h1 { width: 5.35rem; height: 1.85rem; background: url(../img/tb1.png) no-repeat; background-size: 100% 100%; text-indent: -9999px; overflow: hidden; margin-left: 0rem;}
	.patext{ width:100%; height:100%; background:rgba(0,0,0,0.7); position:absolute; top:0; left:0; margin:0; padding:0; }

	h2.potitle {  font-size: 30px; color: #fff; position:absolute; top: 25%; left:0; right:0; font-family:'微软雅黑'; text-align:center; }
	.potxt { position: absolute; top: 42%; left: 0; right: 0; text-align: center; font-size: 18px; color: #fff; font-family: '微软雅黑'; }
	.potxt i{  color:#21d4b6;  }
	.poby{ position:absolute; top: 55%; left: 0; right: 0; }
	.poby span {display: block;line-height: 1.75rem;font-size: 16px;color: #fff;font-family: '微软雅黑';letter-spacing: 0.5rem; text-align:center; }
	.poby span i{ color:#21d4b6; }
	.poby .pobys1{ padding-left: 0; }
	/*第二页*/
	.ptwbox{ height:10rem; position:absolute; top:25%; left:0; right:0;  }
	.ptwtxt{ line-height:2.4rem; font-size: 16px; text-align:center; color:#21d4b6; font-family:'微软雅黑'; padding-top: 1.2rem; letter-spacing:0.2rem; }
	.ptwtxt i{display: inline-block; background: #21d4b6; border-radius: 0.25rem; height: 2rem; padding:0.5rem; line-height: 2rem; color:#fff;margin-right:1rem; }
	.ptwtxt2{ font-size: 36px;; color:#21d4b6; letter-spacing:0.1rem; font-family:'微软雅黑'; text-align: center; }
	.ptwtxt3{ text-align: center; height:2rem; background:rgba(0,0,0,0.5); font-size: 16px; letter-spacing:1.25rem; color:#21d4b6;padding-left: 8%; font-family:'微软雅黑'; }
	.ptwul{ width:50%; margin:0 auto; margin-top:14rem; }
	.ptwul li{ margin-bottom: 1rem; padding:0.25rem 0.45rem; border:2px dotted #21d4b6; border-radius:0.5rem; font-family:'微软雅黑'; color:#fff; font-size: 14px; text-align:center;  }
	.ptwul li i{ color:#21d4b6; }
	/*第三页*/
	.ptbox{ position:absolute; margin:7rem auto; width:51.25rem; height:17.55rem; background:url(../img/bj1.jpg) no-repeat center rgba(0,0,0,0.3); background-size:cover; }

	.pthbox{ width:18.4rem; height:8.95rem; border-bottom:1px solid #21d4b6; margin:12rem auto;position:relative; }
	.pthtitle{padding-top: 1.5rem; float:left; width:4.2rem; font-size: 34px; color:#21d4b6; ;font-family:'微软雅黑'; text-align:center; line-height:3.7rem; }
	.pthtxt{ float:left; font-size:20px; margin-top:24px; margin-bottom: 0; color:#fff; line-height: 3.5rem; }
	.pthtxt2{  float:left; font-size:20px; margin-top:0.25rem; margin-bottom: 0; color:#fff; line-height: 3.5rem;  }
	.pthtxt2 i{ color:#21d4b6; }
	.pthblbox{ position:absolute; top:8.95rem; left: 50%; width:24rem; padding-top: 0.25rem; margin-left: -12rem }
	.pthblbox p{ text-align:center; line-height:1.5rem; font-size: 14px; color:#fff; margin-bottom:0; font-family:'微软雅黑'; letter-spacing: 0.5rem; } 
	.pthblbox p i{ color:#21d4b6; }
	.pthtb{ display:none; }


}

/* 小型设备（平板电脑，768px 起） */
@media (min-width: 768px) and (max-width:992px) { 
	.navbtn{ display:block; }
	/*第一页*/
	header .zynavbar{ display:none; }
	.fpnavabox{ margin-right:0; width:15rem; float:right; }
	.headnav{ display: none; }
	.headnav-min{ position:absolute; right: -15rem; top: 7rem; }
	.headnav-min li{ text-align: center; line-height: 3rem; }
	.headnav-min li a{ background: #ccc; display: block; color: #000; padding: 0 2rem; }

	.login {margin-top: 1.45rem;margin-right: 2rem;}
	.login a {font-size: 1.2rem;color: #fff;font-family: '微软雅黑'; line-height: 3rem;}
	header h1 { width: 8.35rem; height: 2.85rem; background: url(../img/logo.png) no-repeat; background-size: 100% 100%; text-indent: -9999px; overflow: hidden; margin-left: 2rem;float:left;margin-top: 2rem;}

	.patext{ width:100%; height:100%; background:rgba(0,0,0,0.7); position:absolute; top:0; left:0; margin:0; padding:0; }

	.potitle { padding: 0.85rem; border: 3px solid #21d4b6; font-size: 2.4rem; color: #fff; position: absolute; top: 35%; left: 50%; margin-left: -7.45rem; font-family: '微软雅黑'; }
	.potxt { position: absolute; top: 60%; left: 0; right: 0; text-align: center; font-size: 1.8rem; color: #fff; font-family: '微软雅黑'; }
	.potxt i{  color:#21d4b6;  }
	.poby{ position:absolute; bottom:0.95rem; left:33rem; }
	.poby span {display: block;line-height: 1.75rem;font-size: 1.2rem;color: #fff;font-family: '微软雅黑';letter-spacing: 0.5rem; }
	.poby span i{ color:#21d4b6; }
	.poby .pobys1{ padding-left: 8.4rem; }

	/*第二页*/
	.ptwbox{ width:30.55rem; height:10rem; background:url(../img/bj1.png) no-repeat; background-size:100% 100%; position:absolute; top:35%; left:18.35rem;  }
	.ptwtxt{ padding-left:12.8%; line-height:2.4rem; font-size:1.6rem; color:#21d4b6; font-family:'微软雅黑'; padding-top: 1.2rem; letter-spacing:0.2rem; }
	.ptwtxt i{display: inline-block; background: #21d4b6; border-radius: 0.25rem; height: 2rem; padding:0 3%; line-height: 1.8rem; color:#fff;margin-right:4%; }
	.ptwtxt2{ padding-left:12.8%; font-size: 3.2rem; color:#21d4b6; letter-spacing:0.1rem; font-family:'微软雅黑'; }
	.ptwtxt3{ width:65%; height:19%; background:rgba(0,0,0,0.5); position:absolute; bottom:0; left:17.5%; font-size: 1.6rem; letter-spacing:1.25rem; color:#21d4b6;padding-left: 8%; font-family:'微软雅黑'; }
	.ptwul{ width:76%; position:absolute; left:12%; bottom:4%;  }
	.ptwul li{ float:left; padding:0.25rem 0.45rem; border:2px dotted #21d4b6; border-radius:0.5rem; font-family:'微软雅黑'; color:#fff; font-size: 1.1rem;  }
	.ptwul li i{ color:#21d4b6; }
	.ptwul .ptwuli1{ margin-right:8.9rem; }
	.ptwul .ptwuli{ float: right; margin:0; }
	/*第三页*/
	.ptbox{ position:absolute; margin:7rem auto; width:51.25rem; height:17.55rem; background:url(../img/bj1.jpg) no-repeat center rgba(0,0,0,0.3); background-size:cover; }

	.pthbox{ position:absolute; top:29%; left:30%; width:28.4rem; height:8.95rem; border-bottom:1px solid #21d4b6; }
	.pthtitle{ padding-top: 1.4rem;float:left; width:4.2rem; font-size: 3.7rem; color:#21d4b6; ;font-family:'微软雅黑'; text-align:center; line-height:3.7rem; }
	.pthtxt{ float:left; font-size: 3rem; margin-top:24px; margin-bottom: 0; color:#fff; line-height: 3.5rem; }
	.pthtxt2{  float:left; font-size: 3rem; margin-top:0.25rem; margin-bottom: 0; color:#fff; line-height: 3.5rem;  }
	.pthtxt2 i{ color:#21d4b6; }
	.pthblbox{ position:absolute; top:8.95rem; left:0; width:100%; padding-top: 0.25rem; }
	.pthblbox p{ text-align:center; line-height:1.5rem; font-size: 1.2rem; color:#fff; margin-bottom:0; font-family:'微软雅黑'; letter-spacing: 0.5rem; } 
	.pthblbox p i{ color:#21d4b6; }
	.pthtb{ width:44.8rem; position:absolute; left:50%; bottom:2.5rem; margin-left:-22.4rem; }
	.pthtb li{ float:left; width:6rem; height:6rem; border-radius:50%; overflow: hidden; margin-right:3.25rem; }
	.pthtb li.pthtbla{ margin:0; }
	.pthtb li img{ width:100%; height:100%; }

}

/* 中型设备（台式电脑，992px 起） */
@media (min-width: 993px)  {
	.zynavbar{ width:2rem; height:3px; background:blue; position:absolute; top:0; left:0; }
	.headnav-min{ display:none; }
	.fpnavabox{ float:right;  width:40rem; position:relative;}
	.navbtn{ display:none; }
	.headnav li{ margin-top:0.5rem; padding:1rem; float:left; }
	.headnav{ float:left; }
	.login { margin-top:1.45rem; margin-right:0px; float: right;}
	.login a{ font-size: 16px; color:#fff; font-family: '微软雅黑'; }
	header h1{margin-top: 1.4rem; width:8.35rem; height:2.85rem; background:url(../img/logo.png) no-repeat; background-size:100% 100%; text-indent:-9999px; overflow:hidden; margin-left:0; float:left;}
	.patext{ width:100%; height:100%; background:rgba(0,0,0,0.7); position:absolute; top:0; left:0; margin:0; padding:0; }

	.potitle{  padding:0.85rem; border:3px solid #21d4b6; font-size: 2rem; color:#fff; position:absolute; top:35%; left:50%; margin-left:-7.25rem; font-family:'微软雅黑'; }
	.potxt{ position:absolute; top:60%; left:0; right:0; text-align:center; font-size:1.5rem; color:#fff; font-family:'微软雅黑'; }
	.potxt i{  color:#21d4b6;  }
	.poby{ position:absolute; bottom:0.95rem; left:33rem; }
	.poby span{ display:block; line-height: 1.75rem; font-size:0.95rem; color:#fff; font-family:'微软雅黑'; letter-spacing:0.5rem }
	.poby span i{ color:#21d4b6; }
	.poby .pobys1{ padding-left: 8.4rem; }

	/*第二页*/
	.ptwbox{ width:30.55rem; height:10rem; background:url(../img/bj1.png) no-repeat; background-size:100% 100%; position:absolute; top:35%; left:18.35rem;  }
	.ptwtxt{ padding-left:12.8%; line-height:2.4rem; font-size:1.6rem; color:#21d4b6; font-family:'微软雅黑'; padding-top: 1.2rem; letter-spacing:0.2rem; }
	.ptwtxt i{display: inline-block; background: #21d4b6; border-radius: 0.25rem; height: 2rem; padding:0 3%; line-height: 1.8rem; color:#fff;margin-right:4%; }
	.ptwtxt2{ padding-left:12.8%; font-size: 3.2rem; color:#21d4b6; letter-spacing:0.1rem; font-family:'微软雅黑'; }
	.ptwtxt3{ width:65%; height:19%; background:rgba(0,0,0,0.5); position:absolute; bottom:0; left:17.5%; font-size: 1.6rem; letter-spacing:1.25rem; color:#21d4b6;padding-left: 8%; font-family:'微软雅黑'; }
	.ptwul{ width:76%; position:absolute; left:12%; bottom:4%;  }
	.ptwul li{ float:left; padding:0.25rem 0.45rem; border:2px dotted #21d4b6; border-radius:0.5rem; font-family:'微软雅黑'; color:#fff; font-size: 1.1rem;  }
	.ptwul li i{ color:#21d4b6; }
	.ptwul .ptwuli1{ margin-right:8.9rem; }
	.ptwul .ptwuli{ float: right; margin:0; }

	/*第三页*/
	.ptbox{ position:absolute; margin:7rem auto; width:51.25rem; height:17.55rem; background:url(../img/bj1.jpg) no-repeat center rgba(0,0,0,0.3); background-size:cover; }

	.pthbox{ position:absolute; top:29%; left:30%; width:28.4rem; height:8.95rem; border-bottom:1px solid #21d4b6; }
	.pthtitle{ padding-top: 1.3rem;float:left; width:4.2rem; font-size: 3.7rem; color:#21d4b6; ;font-family:'微软雅黑'; text-align:center; line-height:3.7rem; }
	.pthtxt{ float:left; font-size: 3rem; margin-top:24px; margin-bottom: 0; color:#fff; line-height: 3.5rem; }
	.pthtxt2{  float:left; font-size: 3rem; margin-top:0.25rem; margin-bottom: 0; color:#fff; line-height: 3.5rem;  }
	.pthtxt2 i{ color:#21d4b6; }
	.pthblbox{ position:absolute; top:8.95rem; left:0; width:100%; padding-top: 0.25rem; }
	.pthblbox p{ text-align:center; line-height:1.5rem; font-size: 1.2rem; color:#fff; margin-bottom:0; font-family:'微软雅黑'; letter-spacing: 0.5rem; } 
	.pthblbox p i{ color:#21d4b6; }
	.pthtb{ width:44.8rem; position:absolute; left:50%; bottom:2.5rem; margin-left:-22.4rem; }
	.pthtb li{ float:left; width:6rem; height:6rem; border-radius:50%; overflow: hidden; margin-right:3.25rem; }
	.pthtb li.pthtbla{ margin:0; }
	.pthtb li img{ width:100%; height:100%; }
}

/*zyl1*/
@media screen and (min-width: 320px) and (max-width: 767px) {
	.page4{background:url(../img/zz-01.jpg) no-repeat center; height:100%; width:100%; position:relative;background-size: cover; padding: 0;}
	.page4 .wz{ width:100%; position:absolute; top:9.5%; color:#00d6b2;}
	.page4 .wz .wz-1{width:26.5rem; height:2.5rem; margin:0 auto; border-bottom: 1px solid #00d6b2; line-height:2.5rem; text-align:center;font-size:18px;font-weight:bold; letter-spacing:1px;color:#00d6b2;}
	.page4 .wz .wz-1 span{ font-size:22px; }
	.page4 .wz .wz-2{ text-align:center; font-size:12px; letter-spacing:1px; line-height: 2rem;color:#00d6b2;}

	.page4 .zz{ position:absolute;  top:27.5%; left:50%; margin-left: -15rem;  width:30rem;}

	.page4 .zz li{}
	.page4 .zz li a{background:rgba(0,214,178,0.3);  margin:0 auto; text-align:center;display:block; width: 23rem; }
	.page4 .zz li p{ display:block; color:#fff; font-size:16px; line-height:3rem;font-weight:bold; margin-bottom: 0.5rem; text-align: center;}


	.page4 .zz .z1{ border-bottom:none; }
	.page4 .zz .z2{ border-right:none; }
	.page4 .zz li img{ width:5.75rem; height:5.75rem; margin-top:2.45rem; display: none;}
	.page4 .zz li .img{ width:4.6rem; height:5.35rem;}
	.page4 .zz li .img1{ width:4.75rem; height:6.45rem; margin-top:1.925rem;}
	.page4 .zz li .img2{ width:5.75rem; height:4.45rem;}

}

@media screen and (min-width: 768px) and (max-width: 992px) {
	.page4{background:url(../img/zz-01.jpg) no-repeat center; height:100%; width:100%; position:relative;background-size: cover; padding: 0;}
	.page4 .wz{ width:100%; position:absolute; top:9.5%; color:#00d6b2;}
	.page4 .wz .wz-1{width:25.5rem; height:2.5rem; margin:0 auto; border-bottom: 1px solid #00d6b2; line-height:2.5rem; text-align:center;font-size:1.25rem;font-weight:bold; letter-spacing:1px;color: #00d6b2;}
	.page4 .wz .wz-1 span{ font-size:2.1rem; }
	.page4 .wz .wz-2{ text-align:center; font-size:1rem; letter-spacing:1px;color: #00d6b2;}

	.page4 .zz{ height:20rem; width:40rem; position:absolute; top:27.5%; left:50%; margin-left: -20rem;box-sizing:border-box;}

	.page4 .zz li{float:left; width:25%; height:50%; margin:0 auto; text-align:center; border-right:1px solid #c6dc91; border-bottom:1px solid #c6dc91; background:rgba(0,214,178,0.3); transition: 1s ease all;box-sizing:border-box;}
	.page4 .zz li p{ display:none; color:#fff; font-size:0.8rem; line-height:1.75rem;font-weight:bold;}
	.page4 .zz li .p1{font-size:0.7rem;white-space: nowrap;overflow: hidden; text-overflow:ellipsis;}
	.page4 .zz li:hover{ background:rgba(0,214,178,0.8);}
	.page4 .zz li:hover p{ display:block;}

	.page4 .zz .z1{ border-bottom:none; }
	.page4 .zz .z2{ border-right:none; }
	.page4 .zz li img{ width:5.75rem; height:5.75rem; margin-top:2.45rem;}
	.page4 .zz li .img{ width:4.6rem; height:5.35rem;}
	.page4 .zz li .img1{ width:4.75rem; height:6.45rem; margin-top:1.925rem;}
	.page4 .zz li .img2{ width:5.75rem; height:4.45rem;}

}

@media screen and (min-width: 992px) {
	.page4{background:url(../img/zz-01.jpg) no-repeat center; height:100%; width:100%; position:relative;background-size: cover; padding: 0;}
	.page4 .wz{ width:100%; position:absolute; top:9.5%; color:#00d6b2;}
	.page4 .wz .wz-1{width:25.5rem; height:2.5rem; margin:0 auto; border-bottom: 1px solid #00d6b2; line-height:2.5rem; text-align:center;font-size:1.25rem;font-weight:bold; letter-spacing:1px;color: #00d6b2;  margin-top: 1rem;}
	.page4 .wz .wz-1 span{ font-size:2.1rem; }
	.page4 .wz .wz-2{ text-align:center; font-size:1rem; letter-spacing:1px;color: #00d6b2;}

	.page4 .zz{ height:20rem; width:40rem; position:absolute; top:27.5%; left:50%; margin-left: -20rem;box-sizing:border-box;}

	.page4 .zz li{ width:20rem; height:20rem;float:left; width:25%; height:50%; margin:0 auto; text-align:center; border-right:1px solid #c6dc91; border-bottom:1px solid #c6dc91; background:rgba(0,214,178,0.3);-webkit-transition: 1s ease all;box-sizing:border-box;}
	.page4 .zz li p{ display:none; color:#fff; font-size:0.8rem; line-height:1.75rem;font-weight:bold;}
	.page4 .zz li .p1{font-size:0.7rem;}
	.page4 .zz li:hover{ background:rgba(0,214,178,0.8);}
	.page4 .zz li:hover p{ display:block;}

	.page4 .zz .z1{ border-bottom:none; }
	.page4 .zz .z2{ border-right:none; }
	.page4 .zz li img{ width:5.75rem; height:5.75rem; margin-top:2.45rem;}
	.page4 .zz li .img{ width:4.6rem; height:5.35rem;}
	.page4 .zz li .img1{ width:4.75rem; height:6.45rem; margin-top:1.925rem;}
	.page4 .zz li .img2{ width:5.75rem; height:4.45rem;}

}


/*zyl2*/

@media screen and (min-width: 320px) and (max-width: 767px) {
	.page6{ background:url(../img/ye.png) no-repeat center; height:100%; width:100%; position:relative;background-size:cover; padding: 0;}

	.page6 .tv{ width:100%; position:absolute; top:10%; color:#00d6b2;}
	.page6 .tv .wz-1{width:16rem; height:2.5rem; margin:0 auto; border-bottom: 1px solid #00d6b2; line-height:2.5rem; text-align:center;font-size:18px; letter-spacing:0.1rem;color:#00d6b2;}
	.page6 .tv .wz-1 span{ font-size:22px;color:#00d6b2;}
	.page6 .tv .wz-2{ text-align:center; font-size:12px; letter-spacing:1px; line-height: 2rem;color:#00d6b2;}

	.page6 .zt{ position:absolute; top:24%; left:50%; margin-left:-13rem;}
	.page6 .zt-1{ margin:0 auto; width:26.5rem;}
	.page6 .zt-1 li{ float:left; width:5.30rem; height:5.20rem;}
	.page6 .zt-1 li a{width:5.30rem; height:5.20rem; background:rgba(0,214,178,0.3); border-radius:50%; text-align:center; line-height:5.20rem; display:block; color:#fff; font-size:16px;}
	.page6 .zt-1 li a span{ display:none; }
	.page6 .zt-2{ margin:0 auto;width:21rem; display: none;}
	.page6 .zt-2 .by{ margin-top:0.85rem;}
	.page6 .zt-2 .by li{ float:left;height:3.45rem; width:10.5rem;  }
	.page6 .zt-2 .by li a{ color:#fff;height:3.45rem; width:10.5rem; display:block;  background:rgba(0,214,178,0.3); border:1px solid #808080; text-align:center; line-height:3.45rem; font-size:16px;box-sizing:border-box;}
	.page6 .zt-2 .by li .a1{ border-radius:0.25rem 0 0 0.25rem;}
	.page6 .zt-2 .by li .a2{ border-radius:0 0.25rem 0.25rem 0;}

	.page6 .zt-2 .box {}
	.page6 .zt-2 .box .yf{}
	.page6 .zt-2 .box .yf li{ float:left; width:3.5rem; height:1.6rem;}
	.page6 .zt-2 .box .yf li a{ width:3.5rem; height:1.6rem; display:block;  background:rgba(0,214,178,0.3); border:1px solid #808080; text-align:center; line-height:1.6rem; font-size:1.1rem;box-sizing:border-box; color:#fff;}

	.page6 .zt-2 .box .wz{ width:21em; height:17.95rem; background:rgba(0,0,0,0.3);}
}

@media screen and (min-width: 768px) and (max-width: 992px) {
	.page6{ background:url(../img/ye.png) no-repeat center; height:100%; width:100%; position:relative;background-size: cover; padding: 0;}

	.page6 .tv{ width:100%; position:absolute; top:10%; color:#00d6b2;}
	.page6 .tv .wz-1{width:21rem; height:3.75rem; margin:0 auto; border-bottom: 1px solid #00d6b2; line-height:3.75rem; text-align:center;font-size:1.8rem; letter-spacing:0.1rem;color:#00d6b2;}
	.page6 .tv .wz-1 span{ font-size:3.2rem; color:#00d6b2;}
	.page6 .tv .wz-2{ text-align:center; font-size:1.3rem; letter-spacing:1px;color:#00d6b2;}

	.page6 .zt{ position:absolute; top:32%; left:50%; margin-left:-21rem;}
	.page6 .zt-1{ margin:0 auto; width:42rem;}
	.page6 .zt-1 li{ float:left; width:8.35rem; height:8.25rem;}
	.page6 .zt-1 li a{width:8.35rem; height:8.25rem; background:rgba(0,214,178,0.3); border-radius:50%; text-align:center; line-height:8.25rem; display:block; color:#fff; font-size:1.8rem; }

	.page6 .zt-2{ margin:0 auto;width:42rem; display: none;}
	.page6 .zt-2 .by{ margin-top:0.85rem;}
	.page6 .zt-2 .by li{ float:left;height:3.45rem; width:10.5rem;  }
	.page6 .zt-2 .by li a{ color:#fff;height:3.45rem; width:10.5rem; display:block;  background:rgba(0,214,178,0.3); border:1px solid #808080; text-align:center; line-height:3.45rem; font-size:1.2rem;box-sizing:border-box;}
	.page6 .zt-2 .by li .a1{ border-radius:0.25rem 0 0 0.25rem;}
	.page6 .zt-2 .by li .a2{ border-radius:0 0.25rem 0.25rem 0;}

	.page6 .zt-2 .box {}
	.page6 .zt-2 .box .yf{}
	.page6 .zt-2 .box .yf li{ float:left; width:3.5rem; height:1.6rem;}
	.page6 .zt-2 .box .yf li a{ width:3.5rem; height:1.6rem; display:block;  background:rgba(0,214,178,0.3); border:1px solid #808080; text-align:center; line-height:1.6rem; font-size:1.1rem;box-sizing:border-box; color:#fff;}

	.page6 .zt-2 .box .wz{ width:42rem; height:7.95rem; background:rgba(0,0,0,0.3);}
}

@media screen and (min-width: 992px) {
	.page6{ background:url(../img/ye.png) no-repeat center; height:100%; width:100%; position:relative;background-size: cover; padding: 0;}

	.page6 .tv{ width:100%; position:absolute; top:10%; color:#00d6b2;}
	.page6 .tv .wz-1{width:21rem; height:3.75rem; margin:0 auto; border-bottom: 1px solid #00d6b2; line-height:3.75rem; text-align:center;font-size:1.8rem; letter-spacing:0.1rem;color:#00d6b2;}
	.page6 .tv .wz-1 span{ font-size:3.2rem;color:#00d6b2; }
	.page6 .tv .wz-2{ text-align:center; font-size:1.3rem; letter-spacing:1px;color:#00d6b2;}

	.page6 .zt{ position:absolute; top:31%; left:50%; margin-left:-21rem;}
	.page6 .zt-1{ margin:0 auto; width:42rem;}
	.page6 .zt-1 li{ float:left; width:8.35rem; height:8.25rem;}
	.page6 .zt-1 li a{width:8.35rem; height:8.25rem; background:rgba(0,214,178,0.3); border-radius:50%; text-align:center; line-height:8.25rem; display:block; color:#fff; font-size:1.8rem; }

	.page6 .zt-2{ margin:0 auto;width:42rem; display: none;}
	.page6 .zt-2 .by{ margin-top:0.85rem;}
	.page6 .zt-2 .by li{ float:left;height:3.45rem; width:10.5rem;  }
	.page6 .zt-2 .by li a{ color:#fff;height:3.45rem; width:10.5rem; display:block;  background:rgba(0,214,178,0.3); border:1px solid #808080; text-align:center; line-height:3.45rem; font-size:1.2rem;box-sizing:border-box;}
	.page6 .zt-2 .by li .a1{ border-radius:0.25rem 0 0 0.25rem;}
	.page6 .zt-2 .by li .a2{ border-radius:0 0.25rem 0.25rem 0;}

	.page6 .zt-2 .box {}
	.page6 .zt-2 .box .yf{}
	.page6 .zt-2 .box .yf li{ float:left; width:3.5rem; height:1.6rem;}
	.page6 .zt-2 .box .yf li a{ width:3.5rem; height:1.6rem; display:block;  background:rgba(0,214,178,0.3); border:1px solid #808080; text-align:center; line-height:1.6rem; font-size:1.1rem;box-sizing:border-box; color:#fff;}

	.page6 .zt-2 .box .wz{ width:42rem; height:7.95rem; background:rgba(0,0,0,0.3);}
}








@media screen and (min-width: 992px) {
	
	.page3{height: 100%; background: url(../images/cp.jpg) no-repeat center; background-size: cover; padding: 0; position: relative;}
	.page3 .bg{ width: 100%; height: 100%; background: #fff; opacity: 0.4; filter: alpha(opacity:40); position: absolute; left: 0; top: 0;}
	.page3-content{ width: 100%; position: relative; top: 8%; z-index: 2;}
	
	.p3-tit{ padding: 0; width: 23rem; text-align: center; margin: 0 auto; font-size: 2.05rem; color: #21D4B6; height: 2.55rem; line-height: 2.55rem; font-weight: bold; border-bottom: 1px solid #21D4B6; letter-spacing: 0.4rem;}
	.p3-tit1{ padding: 0; width: 100%; height: 1.2rem; line-height: 1.2rem; margin: 0 auto; text-align: center; font-size: 1.2rem; color: #21D4B6; letter-spacing: 0.1rem;}
	
	
	.p3-introduce{ height: 3rem !important; margin-top: 0.45rem !important;}
	.p3-introduce .show div{ display: block;}
	.p3-introduce li div{ width: 17.55rem !important;  height: 2.2rem; text-align: center; margin: 0 auto;  background: #73797f; display: none;}
	.p3-introduce li p{ color: #fff; font-size: 0.75rem !important; line-height: 0.75rem !important; margin:0; padding-top: 0.25rem !important; font-weight: bold;}

	
	
	.p3-introduce-img{ position: relative; width: 29.4rem; height: 7.85rem; margin: 0 auto; transform: translate3d(0px, 0px, 0px) !important;}
	.p3-introduce-img li{ position: absolute;}
	.p3-introduce-img li.active{ transform: scale(1.3); z-index: 10;}
	.p3-introduce-img li img{ width: 100%; height: 100%;}
	.p3-introduce-img li div{ display: none;}
	.p3-introduce-img .li1{ left: 0 !important; top: 0; width: 5.45rem !important; height: 7rem;}
	.p3-introduce-img .li2{ left: 2.5rem !important; top: 3rem; width: 8.5rem !important; height: 4.5rem;}
	.p3-introduce-img .li3{ left: 9rem !important; top: 1.2rem; width: 6rem !important; height: 6.6rem; z-index: 3;}
	.p3-introduce-img .li4{ left: 14rem !important; top: 1rem; width: 6rem !important; height: 6.3rem; z-index: 2;}
	.p3-introduce-img .li5{ left: 18.8rem !important; top: 0; width: 6.3rem !important; height: 6rem;}
	.p3-introduce-img .li6{ left: 23rem !important; top: 1.7rem; width: 6.2rem !important; height: 5rem;}
	
	.p3-bottom{ width: 36rem; margin: 0 auto; height: 4.3rem; text-align: center; margin-top: 2.5rem;}
	.p3-bottom li{float: left; margin: 0 2rem;}
	.p3-bottom .p3-bottom-li1{ margin-left: 0;}
	.p3-bottom .p3-bottom-li2{ margin-right: 0;}
	.p3-bottom li div{ width: 3.4rem; height: 3.4rem; border: 2px solid #21D4B6; text-align: center; line-height: 3.2rem;}
	.p3-bottom li img{ width: 3.2rem; opacity: 0.4; filter: alpha(opacity:40); vertical-align: middle;}
	.p3-bottom li:hover img{ opacity: 1; filter: alpha(opacity:1);}
	.p3-bottom li .img{ height: 3.2rem; width: 2.25rem;}
	.p3-bottom li p{ color: #21D4B6; line-height: 1.2rem; font-size: 0.75rem; margin: 0;}
	.p3-bottom li span{display: inline-block; vertical-align: middle; width: 0px; height: 100%;}
	/*问题*/
	.p3-wt{ width: 33rem; text-align: center; margin: 0 auto; margin-top: 1.2rem; }
	.p3-wt p{ color: #21D4B6; font-size: 1.2rem; line-height: 1.2rem; margin: 0;}
	.p3-wt a{ color: #666; font-size: 0.8rem; line-height:1.2rem; height: 1.2rem; border-bottom: 1px solid #666; outline: none; text-decoration: none;}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	
	.page3{height: 100%; background: url(../images/cp.jpg) no-repeat center; background-size: cover; padding: 0; position: relative;}
	.page3 .bg{ width: 100%; height: 100%; background: #fff; opacity: 0.4; filter: alpha(opacity:40); position: absolute; left: 0; top: 0;}
	.page3-content{ width: 100%; position: relative; top: 7%; z-index: 2;}
	

	.p3-tit{ padding: 0; width: 27rem; text-align: center; margin: 0 auto; font-size: 2.05rem; color: #21D4B6; height: 2.55rem; line-height: 2.55rem; font-weight: bold; border-bottom: 1px solid #21D4B6; letter-spacing: 0.4rem;}
	.p3-tit1{ padding: 0; width: 27rem; height: 2rem; line-height: 2rem; margin: 0 auto; text-align: center; font-size: 1.5rem; color: #21D4B6; letter-spacing: 0.2rem;}

	.p3-introduce{ height: 5rem !important; margin-top: 0.45rem !important;}
	.p3-introduce .show div{ display: block;}
	.p3-introduce li div{ width: 26rem !important; height: 3.5rem !important; text-align: center; margin: 0 auto;  background: #73797f; display: none;}
	.p3-introduce li p{ color: #fff; font-size: 0.75rem !important; line-height: 1.5rem !important; margin:0; padding-top: 0.25rem !important; font-weight: bold;}


	.p3-introduce-img{ position: relative; width: 29.4rem; height: 12rem; margin: 0 auto; transform: translate3d(0px, 0px, 0px) !important;}
	.p3-introduce-img li{ position: absolute; margin-left:0 !important; margin-right:0 !important;}
	.p3-introduce-img li div{ display: none;}
	.p3-introduce-img li.active{ transform: scale(1.2); z-index: 10;}
	.p3-introduce-img li img{ width: 100%;}
	.p3-introduce-img .li1{ left: 0; top: 0; width: 7.45rem !important;}
	.p3-introduce-img .li2{ left: 2.5rem !important; top: 3rem; width: 10.5rem !important;}
	.p3-introduce-img .li3{ left: 9rem !important; top: 1.2rem; width: 8rem !important;}
	.p3-introduce-img .li4{ left: 14rem !important; top: 1rem; width: 8rem !important;}
	.p3-introduce-img .li5{ left: 18.8rem !important; top: 0; width: 8.3rem !important; }
	.p3-introduce-img .li6{ left: 23rem !important; top: 1.7rem; width: 8.2rem !important;}
	
	.p3-bottom{ width: 36rem; margin: 0 auto; height: 4.3rem; text-align: center; margin-top: 1.5rem;}
	.p3-bottom li{float: left; margin: 0 2rem;}
	.p3-bottom .p3-bottom-li1{ margin-left: 0;}
	.p3-bottom .p3-bottom-li2{ margin-right: 0;}
	.p3-bottom li div{ width: 3.4rem; height: 3.4rem; border: 2px solid #21D4B6; text-align: center; line-height: 3.2rem;}
	.p3-bottom li img{ width: 3.2rem; opacity: 0.4; filter: alpha(opacity:40); vertical-align: middle;}
	.p3-bottom li:hover img{ opacity: 1; filter: alpha(opacity:1);}
	.p3-bottom li .img{ height: 3.2rem; width: 2.25rem;}
	.p3-bottom li p{ color: #21D4B6; line-height: 1.2rem; font-size: 0.75rem; margin: 0;}
	.p3-bottom li span{display: inline-block; vertical-align: middle; width: 0px; height: 100%;}
	/*问题*/
	.p3-wt{ width: 33rem; text-align: center; margin: 0 auto; margin-top: 1.2rem; }
	.p3-wt p{ color: #21D4B6; font-size: 1.2rem; line-height: 1.2rem; margin: 0;}
	.p3-wt a{ color: #666; font-size: 0.8rem; line-height:1.2rem; height: 1.2rem; border-bottom: 1px solid #666; outline: none; text-decoration: none;}
}

@media screen and (min-width: 100px) and (max-width: 767px) {
	
	.page3{height: 100%; background: url(../images/cp.jpg) no-repeat center; background-size: cover; padding: 0; position: relative;}
	.page3 .bg{ width: 100%; height: 100%; background: #fff; opacity: 0.4; filter: alpha(opacity:40); position: absolute; left: 0; top: 0;}
	.page3-content{ width: 100%; position: relative; top: 5%; z-index: 2;}
	
	.p3-tit{ padding: 0; width: 23rem; text-align: center; margin: 0 auto; font-size: 25px; color: #21D4B6; height: 2.55rem; line-height: 2.55rem; font-weight: bold; border-bottom: 1px solid #21D4B6; letter-spacing: 0.4rem;}
	.p3-tit1{ padding: 0; width: 23rem; height: 1rem; line-height: 1rem; margin: 0 auto; text-align: center; font-size: 14px; color: #21D4B6; letter-spacing: 0.2rem;}
	
	.p3-introduce{ height: 5rem; margin-top: 0.45rem;}
	.p3-introduce li{ display: none;}
	.p3-introduce .show div{ display: block;}
	.p3-introduce li div{ width: 23rem;  height: 5.5rem; text-align: center; margin: 0 auto;  background: #73797f; display: none; }
	.p3-introduce li p{ color: #fff; font-size: 1.5rem; line-height: 1.5rem; margin:0; padding-top: 0.25rem; font-weight: bold;}
	
	.swiper-button-next,.swiper-button-prev{ margin-top: 1rem;}
	
	.p3-introduce-img{ position: relative; width: 100%; height: 14rem; margin: 0 auto; margin-top: 1rem;}
	.p3-introduce-img li{ margin: 0 auto; width: 100%; text-align: center; line-height: 14rem; position: relative;}
	.p3-introduce-img li img{vertical-align: middle; display: inline-block;}
	.p3-introduce-img li span{display: inline-block; vertical-align: middle; width: 0px; height: 100%;}
	
	.p3-introduce-img li div{ width: 23rem;  height: 5.5rem; text-align: center; margin: 0 auto;  background: #73797f; position: absolute; left: 50%;margin-left: -11.5rem; top: -5.5rem;}
	.p3-introduce-img li div p{ color: #fff; font-size: 1.5rem; line-height: 1.5rem; margin:0; padding-top: 0.25rem; font-weight: bold;}
	
	
	.p3-introduce-img .li1 img{ width: 9.3rem;}
	.p3-introduce-img .li2 img{ width: 14rem;}
	.p3-introduce-img .li3 img{ width: 10rem;}
	.p3-introduce-img .li4 img{ width: 10rem;}
	.p3-introduce-img .li5 img{ width: 10.3rem;}
	.p3-introduce-img .li6 img{ width: 10.2rem;}
	
	.p3-bottom{ width: 21rem; margin: 0 auto; height: 4.5rem; text-align: center; margin-top: 2.5rem; overflow: hidden;}
	.p3-bottom li{float: left; margin:1.5rem;}
	
	.p3-bottom li div{ display: none;}
	.p3-bottom li p{ width: 4rem; color: #21D4B6; line-height: 3rem; font-size: 12px; margin: 0;}
	.p3-bottom li span{display: inline-block; vertical-align: middle; width: 0px; height: 100%;}
	
	/*问题*/
	.p3-wt{ width: 21rem; text-align: center; margin: 0 auto; margin-top: 1.2rem; }
	.p3-wt p{ color: #21D4B6; font-size: 1.2rem; line-height: 1.2rem; margin: 0;}
	.p3-wt a{ color: #666; font-size: 0.8rem; line-height:1.2rem; height: 1.2rem; border-bottom: 1px solid #666; outline: none; text-decoration: none;}
}




@media screen and (min-width: 992px) {
	.page5{ width: 100%; height: 100%; background: url(../images/sy.jpg) no-repeat 0 0; background-size: cover;}
	.page5 .page5-content{ width: 100%; position: absolute; left: 0; top: 12%;}
	.page5 .page5-content .p5-jl{ position: absolute; top: 12%; right: 0; display: none;}
	.page5 .page5-content .p5-jl p{ width: 5.9rem; text-align: center; height: 2.4rem; line-height: 2.4rem; background: rgba(0,0,0,0.6); color: #21D4B6; font-size: 1rem; margin: 0;}
	.page5 .page5-content .p5-jl .p5-jl-p1{ border-bottom: 1px solid #21D4B6;}
	.page5 .page5-content .p5-h{ height: 5.5rem;}
	.page5 .page5-content .p5-h p{ display: none;}
	.page5 .page5-content .p5-h .show{ display: block;}
	.page5 .page5-content .p5-h .hide{ display: hide;}
	.page5 .page5-content .p5-tit{ width: 31rem; height: 3.7rem; line-height: 3.7rem; margin: 0 auto; text-align: center;  font-size: 2.3rem; font-weight: bold; color: #21D4B6; border-bottom: 1px solid #21D4B6;}
	.page5 .page5-content .p5-tit1{ width: 31rem; height: 1.8rem; line-height: 1.8rem; margin: 0 auto; text-align: center; font-size: 0.7rem; letter-spacing: 0.3rem; color: #21D4B6;}
	.page5 .page5-content .p5-tit3{ width: 31rem; height: 5.5rem; line-height: 5rem; margin: 0 auto; text-align: center; font-size: 3.3rem; color: #21D4B6;}
	
	.page5 .page5-content .p5-text{ width: 30.8rem; height: 1.8rem; margin: 0 auto; margin-top: 0.5rem;}
	.page5-content .p5-text input{ float: left;}
	.page5-content .p5-text .txt{padding-left: 1.4%; width: 77%; height: 100%; border: none; background: rgba(0,0,0,0.5); border-radius: 10px 0 0 10px; outline: none;}
	.page5-content .p5-text .btn{ width: 21.6%; height: 100%; border: none; background: #21D4B6; color: #fff; font-size: 1rem; line-height: 1rem; outline: none;}
	.page5-content .p5-cp{ width: 38.5rem; height: 6.4rem; margin:0 auto; margin-top: 0.5rem; position: relative; transform: translate3d(0px, 0px, 0px) !important;}
	.page5-content .p5-cp li{ position: absolute;}
	.page5-content .p5-cp .li1{ width: 3.6rem !important; left: 0%; top: 0%;}
	.page5-content .p5-cp .li2{ width: 6.5rem !important; left: 14.2%; top: 21.9%;}
	.page5-content .p5-cp .li3{ width: 3.65rem !important; left: 36%; top: 11.7%;}
	.page5-content .p5-cp .li4{ width: 3.75rem !important; left: 53.6%; top: 11.7%;}
	.page5-content .p5-cp .li5{ width: 3.85rem !important; right: 18.5%; top: 15.8%;}
	.page5-content .p5-cp .li6{ width: 4.3rem !important; right: 0%; top: 21%;}
	.page5-content .p5-cp li p{ width: 90%; height: 1.25rem; padding-left: 10%; text-align: center; line-height: 1.25re; color: #21D4B6; position: relative;}
	.page5-content .p5-cp li .img{ width: 100%;}
	.page5-content .p5-cp li p img{ width: 1.2rem; margin-top: 0.2rem;}
	.page5-content .p5-tit2{ width: 50rem; margin: 0 auto; font-size: 0.75rem; color: #21D4B6;}
	.page5-content .p5-tit2 span{ font-size: 2.1rem; font-weight: bold;}
	.page5-content .p5-qy{ width:  50rem; margin: 0 auto;}
	
	.p5-qy .p5-left{ float: left; width: 9.1rem; margin-top: 1.8rem;}
	.p5-qy .p5-left p{ width: 7rem; text-align: center; height: 3rem; line-height: 3rem; background: #7dfbe6; font-size: 1.4rem; margin: 0; position: relative;}
	.p5-qy .p5-left p span{ display: none; width: 1rem; height: 1.4rem; background: url(../images/sy-sp.png) no-repeat 0 0; background-size: contain; position: absolute; right: -1.5rem; top: 0.6rem;}
	.p5-qy .p5-left .p5-left-btn1{ border-radius: 6px 6px 0 0;cursor: pointer;}
	.p5-qy .p5-left .p5-left-btn2{ border-radius: 0 0 6px 6px ;cursor: pointer;}
	.p5-qy .p5-left .active{ color: #fff; background: #21d4b6;}
	.p5-qy .p5-left .active span{ display: block;}
	.p5-qy .p5-right{ float: left; width: 40.2rem; padding-left: 0.5rem; }
	.p5-qy .p5-right .show{ display: block;}
	.p5-right .p5-right-content1{ padding-top: 0.5rem; height: 9rem; border: 1px dashed #21D4B6; border-radius: 5px; display: none;}
	.p5-right .p5-right-content1 p{ font-size: 0.85rem; line-height: 1.6rem; color: #4c4c4c; margin: 0;}
	.p5-right .p5-right-content2{ padding-top: 0.3rem; height: 9rem; border: 1px dashed #21D4B6; border-radius: 5px; display: none;}
	.p5-right .p5-right-content2 p{ font-size: 0.85rem; line-height: 1.2rem; color: #4c4c4c; margin: 0;}
	.p5-right .p5-right-content2 span{ display: inline-block; width: 17.2rem;}
	.p5-right .p5-right-content2 img{ width: 2rem;}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	.page5{ width: 100%; height: 100%; background: url(../images/sy.jpg) no-repeat 0 0; background-size: cover;}
	.page5 .page5-content{ width: 100%; position: absolute; left: 0; top: 9%;}
	.page5 .page5-content .p5-jl{ position: fixed; top: 12%; right: 0; display: none;}
	.page5 .page5-content .p5-jl p{ width: 5.9rem; text-align: center; height: 2.4rem; line-height: 2.4rem; background: rgba(0,0,0,0.6); color: #21D4B6; font-size: 1rem; margin: 0;}
	.page5 .page5-content .p5-jl .p5-jl-p1{ border-bottom: 1px solid #21D4B6;}
	.page5 .page5-content .p5-h{ height: 5rem;}
	.page5 .page5-content .p5-h p{ display: none;}
	.page5 .page5-content .p5-h .show{ display: block;}
	.page5 .page5-content .p5-h .hide{ display: hide;}
	.page5 .page5-content .p5-tit{ width: 31rem; height: 3rem; line-height: 3rem; margin: 0 auto; text-align: center;  font-size: 3rem; font-weight: bold; color: #21D4B6; border-bottom: 1px solid #21D4B6;}
	.page5 .page5-content .p5-tit1{ width: 35rem; height: 2rem; line-height: 2rem; margin: 0 auto; text-align: center; font-size: 1.2rem; letter-spacing: 0.3rem; color: #21D4B6;}
	.page5 .page5-content .p5-tit3{ width: 31rem; height: 5.5rem; line-height: 5rem; margin: 0 auto; text-align: center; font-size: 3.3rem; color: #21D4B6;}
	
	.page5 .page5-content .p5-text{ width: 30.8rem; height: 2rem; margin: 0 auto; margin-top: 0.5rem;}
	.page5-content .p5-text input{ float: left;}
	.page5-content .p5-text .txt{padding-left: 1.4%; width: 77%; height: 100%; border: none; background: rgba(0,0,0,0.5); border-radius: 10px 0 0 10px; outline: none;}
	.page5-content .p5-text .btn{ width: 21.6%; height: 100%; border: none; background: #21D4B6; color: #fff; font-size: 1rem; line-height: 1rem; outline: none;}
	.page5-content .p5-cp{ width: 40rem; height: 13rem; margin:0 auto; margin-top: 0.5rem; position: relative; transform: translate3d(0px, 0px, 0px) !important;}
	.page5-content .p5-cp li{ position: absolute; height: 100%; top: 0; }
	.page5-content .p5-cp .li1{ width: 7.6rem !important; left: 0%; }
	.page5-content .p5-cp .li2{ width: 12.5rem !important; left: 15.2%;}
	.page5-content .p5-cp .li3{ width: 8.65rem !important; left: 30%; }
	.page5-content .p5-cp .li4{ width: 8.75rem !important; left: 45%; }
	.page5-content .p5-cp .li5{ width: 8.85rem !important; right: 18.5%;}
	.page5-content .p5-cp .li6{ width: 10.3rem !important; right: 0%;}
	.page5-content .p5-cp li .img{ width: 100%; position: absolute; left: 0; bottom: 2rem;}
	
	.page5-content .p5-cp li p{position: absolute; left: 0; bottom: 0; width: 90%; height: 2rem; padding-left: 10%; text-align: left; line-height: 3rem; color: #21D4B6; font-size: 1.5rem; margin: 0;}
	.page5-content .p5-cp li p img{ width: 2rem; margin-top: 0.7rem;}
	
	.page5-content .p5-tit2{ width: 50rem; margin: 0 auto; font-size: 1rem; color: #21D4B6;}
	.page5-content .p5-tit2 span{ font-size: 2.5rem; font-weight: bold;}
	.page5-content .p5-qy{ width:  52rem; margin: 0 auto;}
	
	.p5-qy .p5-left{ float: left; width: 9rem; margin-top: 1.8rem;}
	.p5-qy .p5-left p{ width: 7rem; text-align: center; height: 3rem; line-height: 3rem; background: #7dfbe6; font-size: 1.4rem; margin: 0; position: relative;}
	.p5-qy .p5-left p span{ display: none; width: 1rem; height: 1.4rem; background: url(../images/sy-sp.png) no-repeat 0 0; background-size: contain; position: absolute; right: -1.5rem; top: 0.6rem;}
	.p5-qy .p5-left .p5-left-btn1{ border-radius: 6px 6px 0 0;cursor: pointer;}
	.p5-qy .p5-left .p5-left-btn2{ border-radius: 0 0 6px 6px ;cursor: pointer;}
	.p5-qy .p5-left .active{ color: #fff; background: #21d4b6;}
	.p5-qy .p5-left .active span{ display: block;}
	.p5-qy .p5-right{ float: left; width: 42.5rem; padding-left: 3px; }
	.p5-qy .p5-right .show{ display: block;}
	.p5-right .p5-right-content1{ padding-top: 0.3rem; height: 9rem; border: 1px dashed #21D4B6; border-radius: 5px; display: none;}
	.p5-right .p5-right-content1 p{ font-size: 1rem; line-height: 1.6rem; color: #4c4c4c; margin: 0;}
	.p5-right .p5-right-content2{ padding-top: 0.3rem; height: 9rem; border: 1px dashed #21D4B6; border-radius: 5px; display: none;}
	.p5-right .p5-right-content2 p{ font-size: 1rem; line-height: 1.2rem; color: #4c4c4c; margin: 0;}
	.p5-right .p5-right-content2 span{ display: inline-block; width: 17.2rem;}
	.p5-right .p5-right-content2 img{ width: 2rem;}
}

@media screen and (min-width: 100px) and (max-width: 767px) {
	.page5{ width: 100%; height: 100%; background: url(../images/sy.jpg) no-repeat 0 0; background-size: cover;}
	.page5 .page5-content{ width: 100%; position: absolute; left: 0; top: 10%;}
	.page5 .page5-content .p5-jl{ position: fixed; top: 12%; right: 0; display: none;}
	.page5 .page5-content .p5-jl p{ width: 5.9rem; text-align: center; height: 2.4rem; line-height: 2.4rem; background: rgba(0,0,0,0.6); color: #21D4B6; font-size: 1rem; margin: 0;}
	.page5 .page5-content .p5-jl .p5-jl-p1{ border-bottom: 1px solid #21D4B6;}
	.page5 .page5-content .p5-h{ height: 5.5rem;}
	.page5 .page5-content .p5-h p{ display: none;}
	.page5 .page5-content .p5-h .show{ display: block;}
	.page5 .page5-content .p5-h .hide{ display: hide;}
	
	.page5 .page5-content .p5-tit{ width: 25rem; height: 3.5rem; line-height: 3.5rem; margin: 0 auto; text-align: center;  font-size: 25px; font-weight: bold; color: #21D4B6; border-bottom: 1px solid #21D4B6;}
	.page5 .page5-content .p5-tit1{ width: 25rem; height: 1.6rem; line-height: 1.6rem; margin: 0 auto; text-align: center; font-size: 15px; color: #21D4B6;}
	.page5 .page5-content .p5-tit3{ width: 25rem; height: 5rem; line-height: 5rem; margin: 0 auto; text-align: center; font-size: 3.3rem; color: #21D4B6;}
	
	.page5 .page5-content .p5-text{ width: 25rem; height: 2.2rem; margin: 0 auto; margin-top: 0.5rem;}
	.page5-content .p5-text input{ float: left; height: 2.2rem;}
	.page5-content .p5-text .txt{padding-left: 1.4%; width: 77%; height: 100%; border: none; background: rgba(0,0,0,0.5); border-radius: 10px 0 0 10px; outline: none;}
	.page5-content .p5-text .btn{ width: 21.6%; height: 100%; border: none; background: #21D4B6; color: #fff; font-size: 1rem; line-height: 1rem; outline: none;}

	.page5-content .p5-cp{ width: 100%; height: 15rem; margin:0 auto; margin-top: 0.5rem; position: relative;}
	.page5-content .p5-cp li{ width: 100%; height: 15rem; text-align: center;}
	.page5-content .p5-cp .li1 .img{ width: 9.3rem;}
	.page5-content .p5-cp .li2 .img{ width: 14rem; margin-top: 3rem;}
	.page5-content .p5-cp .li3 .img{ width: 10rem;}
	.page5-content .p5-cp .li4 .img{ width: 10rem;}
	.page5-content .p5-cp .li5 .img{ width: 10.3rem;}
	.page5-content .p5-cp .li6 .img{ width: 10.2rem;}
	.page5-content .p5-cp li p{ width: 100%; margin: 0 auto; height: 1.5rem; text-align: center; line-height: 1.5rem; color: #21D4B6; position: relative;}
	.page5-content .p5-cp li p img{ width: 1.5rem; margin-top: 0.3rem;}
	.page5-content .p5-tit2{ width: 26rem; margin: 0 auto; font-size: 1rem; color: #21D4B6; display: none;}
	.page5-content .p5-tit2 span{ font-size: 3.1rem; font-weight: bold;}
	.page5-content .p5-qy{ width: 100%; margin: 0 auto;}
	
	.p5-qy .p5-left{ width:15rem; margin: 0 auto; margin-top: 0.3rem;}
	.p5-qy .p5-left p{ float: left; width: 7rem; text-align: center; height: 3rem; line-height: 3rem; background: #7dfbe6; font-size: 1.4rem; margin: 0; position: relative;}
	.p5-qy .p5-left p span{ display: none; width: 1rem; height: 1.4rem; background: url(../images/sy-sp.png) no-repeat 0 0; background-size: contain; position: absolute; right: -1.5rem; top: 0.6rem;}
	.p5-qy .p5-left .p5-left-btn1{ border-radius: 6px 0 0 6px;}
	.p5-qy .p5-left .p5-left-btn2{ border-radius: 0 6px 6px 0;}
	.p5-qy .p5-left .active{ color: #fff; background: #21d4b6;}
	
	.p5-qy .p5-right{ width:90%; margin: 0 auto; margin-top: 0.5rem;}
	.p5-qy .p5-right .show{ display: block;}
	.p5-right .p5-right-content1{width: 100%; padding-top: 0.5rem; height: 9rem; border: 1px dashed #21D4B6; border-radius: 5px; display: none;}
	.p5-right .p5-right-content1 p{ font-size: 15px; line-height: 1.6rem; color: #4c4c4c; margin: 0; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
	.p5-right .p5-right-content2{width: 100%; padding-top: 0.3rem; height: 10rem; border: 1px dashed #21D4B6; border-radius: 5px; display: none;}
	.p5-right .p5-right-content2 p{ font-size: 15px; line-height: 1.6rem; color: #4c4c4c; margin: 0; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
	.p5-right .p5-right-content2 span{ display: inline-block; width: 19rem;}
	.p5-right .p5-right-content2 img{ width: 2rem;}
}

