.mian{width:1170px;margin:0 auto;}
/*1*/
.m1-t{height:40px;}
.m1-t h3{float:left;background:url(../images/bj6.jpg) repeat-x 0 0;width:231px;height:40px;font-size:15px;color:#fff;line-height: 40px;padding-left:15px;}
.m1-t ul{float:left;width:924px;height:40px;background:#2bb8aa;}
.m1-t ul li{float:left;padding: 0 27px;}
.m1-t ul li a{line-height: 40px;font-size: 16px;color:#fff;}
.m1-t ul li a:hover{color:#fff;}
.m1-t ul li:hover{background:#00c3b0;}
.m1-b{position:relative;}
.m1b-l{float:left;width:244px;height:477px;border:1px solid #eeeeee;background:#fafafa;border-top:none;}
.m1b-l li{margin:0 10px;height:52px;border-bottom:1px solid #eeeeee;position:relative;}
.m1b-l li a{display:block;line-height: 52px;font-size:14px;color:#333333;padding-left:5px;font-weight:bold;}
.m1b-l li span{position:absolute;height:52px;top:0;right:20px;;line-height:52px;}
.m1b-l li em{position:absolute;width:7px;height:12px;top:20px;right:5px;background:url(../img/bj6.png) no-repeat 0 0;}
.m1b-l .li1{border-bottom:none;}

.m1b-m{float:left;width:689px;border-right:1px solid #eeeeee;padding:0 18px;}
.m1bm-dl{height:52px;border-bottom:1px solid #eeeeee;}
.m1bm-dl dt{float:left;width:65px;height:52px;line-height:52px;color:#999999;font-size:12px;padding-left:20px;background:url(../img/bj7.png) no-repeat 0 center;}
.m1bm-dl  dd{float:left;height:52px;}
.m1bm-dl  dd a{float:left;line-height: 52px;color:#666666;margin-right:25px;}
.m1bm-dl  dd .active{color:#f76120;}
.m1bm-dl  dd .a1{width: 40px;height:20px;border:1px solid #eeeeee;line-height: 20px;text-align: center;float: left;margin-top:15px;position:relative;}
.m1bm-dl  dd .a1 span{position:absolute;width:6px;height:3px;top:9px;right:3px;background: url(../img/bj3.png) no-repeat 0 0;}
.m1bm-dl  dd  .a2{margin-right:0;}
.m1bm-dl  .m1bm-dt1{background:url(../img/bj8.png) no-repeat 0 center;}
.m1bm-dl  .m1bm-dt2{background:url(../img/bj9.png) no-repeat 0 center;}

.m1bm-b{width:689px;height:319px;position:relative;overflow: hidden;}
.xxk-zdbf{position:absolute;top:0;left:0;width:4134px;}
.xxk-span1{position:absolute;top:140px;left:0;width:30px;height:39px;background: url(../img/bj33.png) no-repeat 6px center #000;opacity:0.5;filter:alpha(opacity=50);cursor:pointer;display: none;;}
.xxk-span2{position:absolute;top:140px;right:0;width:55px;height:39px;background: url(../img/bj34.png) no-repeat 37px center #000;opacity:0.5;filter:alpha(opacity=50);cursor:pointer;padding-left: 5px;line-height:39px;display: none;color:#fff;}

.m1bmb-l{padding-top:10px;border-right:1px solid #eeeeee;border-bottom:1px solid #eeeeee;float:left;padding-right:11px;position:relative;}
.m1bmbl-b{height:76px;}
.mbm2-l{float:left;padding-top:19px;padding-left: 5px;}
.mbm2-l a{display: block;height:25px;line-height:25px;font-size:14px;color:#666666;font-weight:bold;}
.mbm2-l p{line-height: 22px;color:#999999;}
.m1bmbl-b i{float:right;line-height: 76px;color:#f76120;font-size: 26px;;}
.m1bmb-l span{position:absolute;width:62px;height:50px;top:10px;right:10px;background:url(../img/bj10.png) no-repeat 0 0;line-height:50px;text-align:center;font-size:20px;color:#fff;}
.m1bmb-l1{border-right:none;}
.m1b-r{float:left;width:197px;border-right:1px solid #eeeeee;}
.m1br-t{border-bottom:1px solid #eeeeee; }
.m1br-b{border-bottom:1px solid #eeeeee;}
.m1br-b .p1{margin-top:54px;line-height: 32px;text-align:center;font-size:21px;}
.m1br-b .p2{line-height:24px;font-size: 14px;color:#999999;text-align:center;}
/*2*/
.main-2{margin-top:24px;}
.m2{height:54px;}
.m2 h2{float:left;line-height:54px; font-size:19px;color:#666666;padding-left:37px;background:url(../img/bj11.png) no-repeat 0 center;}
.m2 div{float:left;width: 161px;height:43px;margin-left:3px;background:url(../images/bj11.jpg) no-repeat 0 0;margin-top:6px;padding-left:70px}
.m2 div i{float:left;width:20px;line-height: 43px;text-align:center;margin-right:2px;font-size:16px;color:#fff;}
.m2 div .m2-i{margin-right:14px;}
.m2-b{width:1168px;border:1px solid #eeeeee;}
.m2-b li{float:left;width:205px;padding:15px 12px 0 16px;border-right:1px solid #eeeeee; }
.m2-b li .li-a{position:relative;}
.m2-b li .li-a .span1{position:absolute;width:43px;height:40px;top:-4px;left:0;background:url(../img/bj12.png) no-repeat 0 0;}
.m2-b li .li-a .span2{position:absolute;width:43px;height:40px;top:-4px;left:40px;;background:url(../img/bj13.png) no-repeat 0 0;}
.m2b-d1{border-bottom:1px dotted #eeeeee}
.m2b-d1 a{display:block;margin-top:12px;height:29px;line-height:29px;font-size:14px;color:#666666;}
.m2bd-d{margin-bottom:6px;height:28px;}
.m2bd-d span{float:left;line-height:28px;font-size:14px;color:#f76120;font-family:"微软雅黑";}
.m2bd-d p{float:right;line-height:28px;color:#999999;}
.m2bd-d p i{color:#999999;}
.m2b-d2{padding-top:12px;height:33px;}
.m2b-d2 p{float:left;height:17px;background:#f76120;color:#fff;font-size:12px;padding:0 5px;line-height:17px;}
.m2b-d2 p i{color:#fff;font-size:12px;}
.mian .m2b-d2 p:hover{color:#fff;}
.m2-b .m2-li{border-right:none;padding:15px 12px 0 14px;}

/*美食*/
.main-3{margin-top:20px;}
.m3{height:52px;}
.m3 h2{float:left;font-size:19px;color:#666666;padding-left:44px;background:url(../img/bj14.png) no-repeat 0 center;line-height: 52px;}
.m3 .m3-ul{float:right;height:52px;}
.m3-ul li{float:left;height:17px;padding:0 10px;border-right:1px solid #dddddd;margin-top:16px;line-height:17px;position:relative;}
.m3-ul .m3ul-li span{position:absolute;width:7px;height:12px;top:3px;right:3px;background:url(../img/bj6.png) no-repeat 0 0;}
.m3-b li{width:260px;border-bottom:1px solid #eeeeee;}
.m2bd-p1{font-size:14px;color:#999999;}
.m2b2d-b{float:left;line-height:28px;margin-left:8px;}
.m2b2d-b em{text-decoration:line-through;color:#999999;}
.m3-b .m2bd-d span{font-size:18px;} 
.m2bd2-div{float:right;height:12px;}
.m2bd2-div ul{float:left;}
.m2bd2-div ul li{width:12px;height:12px;float: left;background:url(../img/bj15.png) no-repeat 0 0;padding:0;}
.m2bd2-div ul .pj1{background:url(../img/bj16.png) no-repeat 0 0;}
.m2bd2-div ul .pj2{background:url(../img/bj18.png) no-repeat 0 0;}
.m2bd2-div a{float:left;margin-left:10px;color:#999999;}
.m3-b .m2b-d2 p{background:#ff8e3f;}
.m3-b li .li-a .span1{position:absolute;width:43px;height:40px;top:-4px;left:0;background:url(../img/bj13.png) no-repeat 0 0;}
.m3-b li .li-a .span2{position:absolute;width:43px;height:40px;top:-4px;left:0;background:url(../img/bj17.png) no-repeat 0 0;}
.m3-b li .li-a .span3{position:absolute;width:43px;height:40px;top:-4px;left:0;background:url(../img/bj12.png) no-repeat 0 0;}
.m3-b li .li-a .span-1{position:absolute;width:43px;height:40px;top:-4px;left:40px;;background:url(../img/bj13.png) no-repeat 0 0;}
.m3-b li .li-a .span-2{position:absolute;width:43px;height:40px;top:-4px;left:40px;;background:url(../img/bj17.png) no-repeat 0 0;}
.m3-b li .li-a .span-3{position:absolute;width:43px;height:40px;top:-4px;left:40px;;background:url(../img/bj12.png) no-repeat 0 0;}
.m3-b li .li-a .span01{position:absolute;width:43px;height:40px;top:-4px;left:80px;;background:url(../img/bj13.png) no-repeat 0 0;}
.m3-b li .li-a .span01{position:absolute;width:43px;height:40px;top:-4px;left:80px;;background:url(../img/bj17.png) no-repeat 0 0;}
.m3-b li .li-a .span01{position:absolute;width:43px;height:40px;top:-4px;left:80px;;background:url(../img/bj13.png) no-repeat 0 0;}

.more{display:block;height:47px;background:#f6f6f6;line-height: 47px;text-align:center;font-size:13px;color:#666666;position:relative;}
.more i{position:absolute;width:4px;height:7px;top:22px;left:680px;background:url(../img/bj19.png) no-repeat 0 0;}

/*休闲娱乐*/

.m3 .xxyl{background:url(../img/bj20.png) no-repeat 0 center;}
/*电影*/
.m3 .dy{background:url(../img/bj21.png) no-repeat 0 center;}
/*酒店*/
.m3 .jd{background:url(../img/bj22.png) no-repeat 0 center;}
/*生活服务*/
.m3 .shfw{background:url(../img/bj23.png) no-repeat 0 center;}
/*丽人*/
.m3 .lr{background:url(../img/bj24.png) no-repeat 0 center;}
/*旅游*/
.m3 .ly{background:url(../img/bj25.png) no-repeat 0 center;}


.mian p{cursor:pointer;}
.mian p:hover{color:#000;}
.mian a:hover{color:#2bb8aa;}





/*js*/
.xxk1{position:absolute;height:477px;border:1px solid #bdbdc7;border-top:none;;top:0;left:245px;background: #fff;z-index:1;display: none;;}
.xxk1 div{display: none;height:477px;}
.xxk1 dl{float:left;width:130px;padding-left: 20px;}
.xxk1 dl dt{line-height: 58px;height:58px;width: 130px;;}
.xxk1 dl dt a{font-size: 18px;color:#333333;}
.xxk1 dl dd a{line-height: 24px;color:#666666;} 











