.head{width:100%;min-width:980px;}
.bj{width:100%;min-width:980px;border-bottom:1px solid #dddddd;height:30px;border-top:1px solid #dddddd;background:#f9f9f9;}
.nav{width:980px;margin:0 auto;height:30px;}
.n-ull{float:left;}
.nav a{position:relative;}
.n-ull li{float:left;line-height:30px;height:30px;}
.n-ull .li1{background:url(../img/bj1.png) no-repeat 0 center;padding-left:17px;padding-right:19px;}
.n-ull .li2{padding-right:15px;}
.n-ull .li2 a{color:#f76120;}
.n-ull .li3{padding-right:19px;}
.n-ull .li3 a{display:block;height:15px;width:34px;border-right:1px solid #dddddd;margin-top:8px;line-height:15px;}
.n-ull .li4{background:url(../img/bj2.png) no-repeat 5px center;position:relative;border-right:1px solid #f9f9f9;border-left:1px solid #f9f9f9;}
.n-ull .li4 a{position:relative;display: block;height:30px;width:81px;text-align: center;}
.n-ull .li4 span{position:absolute;width:6px;height:3px;top:14px;right:5px;background: url(../img/bj3.png) no-repeat 0 0;}

.n-ulr{float:right;}
.n-ulr li{float:left;line-height:30px;height:30px;}
.n-ulr .li1{margin-right:12px;}
.n-ulr .li2{margin-right:12px;position:relative;border-right:1px solid #f9f9f9;border-left:1px solid #f9f9f9;}
.n-ulr .li2 a{display:block;width:69px;height:15px;border-right:1px solid #dddddd;height:30px;padding-left: 10px;}
.n-ulr .li2 span{position:absolute;width:6px;height:3px;top:14px;right:9px;background: url(../img/bj3.png) no-repeat 0 0;}
.n-ulr .li3{background:url(../img/bj4.png) no-repeat 0 center;position:relative;margin-left:12px;border-right:1px solid #f9f9f9;border-left:1px solid #f9f9f9;}
.n-ulr .li3 a{display:block;width:88px;border-right:1px solid #dddddd;height:30px;padding-left: 22px;}
.n-ulr .li3 a i{color:#f76120;}
.n-ulr .li3 span{position:absolute;width:6px;height:3px;top:14px;right:9px;background: url(../img/bj3.png) no-repeat 0 0;}
.n-ulr .li4{margin-right:12px;position:relative;border-right:1px solid #f9f9f9;border-left:1px solid #f9f9f9;}
.n-ulr .li4 a{display:block;width:49px;height:15px;border-right:1px solid #dddddd;height: 30px;padding-left: 10px;}
.n-ulr .li4 span{position:absolute;width:6px;height:3px;top:14px;right:14px;background: url(../img/bj3.png) no-repeat 0 0;}

.con{width:980px;margin:0 auto;position:relative;}
.con span{position:absolute;width:12px;height:10px;top:9px;right:8px;background:url(../img/bj5.png) no-repeat 0 0;}

.below{width:980px;margin:0 auto;margin-top:21px;}
.be-l{float:left;}
.be-l h1{float:left;width:82px;height:54px;background:url(../images/bj2.jpg) no-repeat 0 0;text-indent:-999em;}
.bel-r {float:right;width:60px;height:50px;margin-left:10px;margin-top:2px;position:relative;}
.bel-r i{display:block;line-height:29px;font-size:16px;}
.bel-r span{display:block;width:58px;height:19px;border:1px solid #eeeeee;color:#999999;font-size:12px;line-height:19px;text-align:center;cursor:pointer;}

.be-r{float:right;}
.ber-l{float:left;}
.berl-t{height:38px;width:484px;border:2px solid #2bb8aa;}
.xl{float:left;width:62px;height:38px;border-right:1px solid #dddddd;position:relative;border-left:1px solid #fff;}
.xl span{position:absolute;width:6px;height:3px;top:17px;right:7px;background: url(../img/bj3.png) no-repeat 0 0;}
.xl i{cursor:pointer;display:block;font-size:14px;text-align:center;line-height:38px;}
.berlt-ipt{float:left;width:353px;height:38px;font-size:14px;color:#666;border:none;padding-left:5px}
.berlt-btn{float:left;width:62px;height:38px;border:none;color:#fff;font-size:14px;background:#2bb8aa;cursor:pointer;}
.berl-b{height:40px;}
.berl-b a{float:left;line-height:40px;margin-right:20px;}

.ber-r{float:right;margin-top:9px;margin-left:83px;}
.ber-r li{float:left;margin-left:21px;}
.ber-r li span{display:block;text-align:center;}
.ber-r li p{line-height:20px;}


.head a:hover{color:#2bb8aa;}





/*js*/

.head-xs-div{position:absolute;left:-1px;top:30px;background:#fff;border:1px solid #dddddd;width:164px;z-index:1;display:none;}
.head-xs-div h3{height:29px;line-height:29px;padding-left: 17px;background:url(../img/bj30.png) no-repeat 10px center;}

.head-xs-div1{position:absolute;left:-1px;top:30px;background:#fff;border:1px solid #dddddd;width:80px;z-index:1;padding:10px 0;display:none;}
.head .li2 .head-xs-div1 a{display:block;line-height: 30px;padding-left:12px;height:30px;margin-top:0;border:none;}
.head-xs-div2{position:absolute;right:-1px;top:30px;background:#fff;border:1px solid #dddddd;width:220px;z-index:1;height:70px;display:none;}
.head-xs-div2 p{line-height: 70px;text-align:center;color:#000;}
.head-xs-div3{position:absolute;left:-1px;top:30px;background:#fff;border:1px solid #dddddd;width:92px;z-index:1;padding:10px 0;display:none;}
.head .li2 .head-xs-div3 a{display:block;line-height: 30px;padding-left:12px;height:30px;margin-top:0;border:none;}
.head-xs-div4{position:absolute;right:-1px;top:30px;background:#fff;border:1px solid #dddddd;width:108px;z-index:1;padding:10px 0;display:none;}
.head .n-ulr .li2 .head-xs-div4 a{display:block;line-height: 30px;padding-left:12px;height:30px;margin-top:0;border:none;margin:0;width:90px;}
.head-xs-div5{position:absolute;right:-1px;top:30px;background:#fff;border:1px solid #dddddd;width:80px;z-index:1;padding:10px 0;display:none;}
.head .n-ulr .li4 .head-xs-div5 a{display:block;line-height: 30px;padding-left:12px;height:30px;margin-top:0;border:none;}

.bj .nav .active{background: url(../img/bj32.png) no-repeat 0 0;}

.xl-div{position:absolute;width:61px;height:39px;border:1px solid #dddddd;border-top:none;background:#fff;display:none;}
.xl-div p{line-height: 39px;text-align:center;font-size:14px;color:#666666;cursor:pointer;}
.xl .active{background: url(../img/bj32.png) no-repeat 0 0;}







.mian{width:980px;margin:0 auto;}
/*1*/
.m1-t{height:40px;}
.m1-t h3{float:left;background:url(../images/bj6.jpg) repeat-x 0 0;width:231px;height:40px;font-size:15px;color:#fff;line-height: 40px;padding-left:15px;position: relative;;}
.m1-t ul{float:left;width:734px;height:40px;background:#2bb8aa;}
.m1-t ul li{float:left;padding: 0 27px;}
.m1-t ul li a{line-height: 40px;font-size: 16px;color:#fff;}
.m1-t ul li a:hover{color:#fff;}
.m1-t ul li:hover{background:#00c3b0;}
.m1-b{position:relative;}
.m1b-l{float:left;width:244px;height:477px;border:1px solid #eeeeee;background:#fafafa;border-top:none;}
.m1b-l li{margin:0 10px;height:52px;border-bottom:1px solid #eeeeee;position:relative;}
.m1b-l li a{display:block;line-height: 52px;font-size:14px;color:#333333;padding-left:5px;font-weight:bold;}
.m1b-l li span{position:absolute;height:52px;top:0;right:20px;;line-height:52px;}
.m1b-l li em{position:absolute;width:7px;height:12px;top:20px;right:5px;background:url(../img/bj6.png) no-repeat 0 0;}
.m1b-l .li1{border-bottom:none;}

.m1b-m{float:left;width:689px;border-right:1px solid #eeeeee;padding:0 18px;}
.m1bm-dl{height:52px;border-bottom:1px solid #eeeeee;}
.m1bm-dl dt{float:left;width:65px;height:52px;line-height:52px;color:#999999;font-size:12px;padding-left:20px;background:url(../img/bj7.png) no-repeat 0 center;}
.m1bm-dl  dd{float:left;height:52px;}
.m1bm-dl  dd a{float:left;line-height: 52px;color:#666666;margin-right:25px;}
.m1bm-dl  dd .active{color:#f76120;}
.m1bm-dl  dd .a1{width: 40px;height:20px;border:1px solid #eeeeee;line-height: 20px;text-align: center;float: left;margin-top:15px;position:relative;}
.m1bm-dl  dd .a1 span{position:absolute;width:6px;height:3px;top:9px;right:3px;background: url(../img/bj3.png) no-repeat 0 0;}
.m1bm-dl  dd  .a2{margin-right:0;}
.m1bm-dl  .m1bm-dt1{background:url(../img/bj8.png) no-repeat 0 center;}
.m1bm-dl  .m1bm-dt2{background:url(../img/bj9.png) no-repeat 0 center;}

.m1bm-b{width:689px;height:319px;position:relative;overflow: hidden;}
.xxk-zdbf{position:absolute;top:0;left:0;width:4134px;}
.xxk-span1{position:absolute;top:140px;left:0;width:30px;height:39px;background: url(../img/bj33.png) no-repeat 6px center #000;opacity:0.5;filter:alpha(opacity=50);cursor:pointer;display: none;;}
.xxk-span2{position:absolute;top:140px;right:0;width:55px;height:39px;background: url(../img/bj34.png) no-repeat 37px center #000;opacity:0.5;filter:alpha(opacity=50);cursor:pointer;padding-left: 5px;line-height:39px;display: none;color:#fff;}

.m1bmb-l{padding-top:10px;border-right:1px solid #eeeeee;border-bottom:1px solid #eeeeee;float:left;padding-right:11px;position:relative;}
.m1bmbl-b{height:76px;}
.mbm2-l{float:left;padding-top:19px;padding-left: 5px;}
.mbm2-l a{display: block;height:25px;line-height:25px;font-size:14px;color:#666666;font-weight:bold;}
.mbm2-l p{line-height: 22px;color:#999999;}
.m1bmbl-b i{float:right;line-height: 76px;color:#f76120;font-size: 26px;;}
.m1bmb-l span{position:absolute;width:62px;height:50px;top:10px;right:10px;background:url(../img/bj10.png) no-repeat 0 0;line-height:50px;text-align:center;font-size:20px;color:#fff;}
.m1bmb-l1{border-right:none;}
.m1b-r{float:left;width:197px;border-right:1px solid #eeeeee;}
.m1br-t{border-bottom:1px solid #eeeeee; }
.m1br-b{border-bottom:1px solid #eeeeee;}
.m1br-b .p1{margin-top:54px;line-height: 32px;text-align:center;font-size:21px;}
.m1br-b .p2{line-height:24px;font-size: 14px;color:#999999;text-align:center;}

.xxk1{position:absolute;height:477px;border:1px solid #bdbdc7;border-top:none;;top:0;left:245px;background: #fff;z-index:1;display: none;}
.xxk1 div{display: none;height:477px;}
.xxk1 .bk{width: 300px;} 
.xxk1 dl{float:left;width:130px;padding-left: 20px;}
.xxk1 dl dt{line-height: 58px;height:58px;width: 130px;;}
.xxk1 dl dt a{font-size: 18px;color:#333333;}
.xxk1 dl dd a{line-height: 24px;color:#666666;} 

.mian-1{position:relative;}
.dwxxk{width:246px;height:478px;position:absolute;left:0;top:40px;display: none;z-index:99;}
.m1-i{position: absolute;;width:20px;height:11px;top:13px;right:21px;background:url(../img/bj35.png) no-repeat 0 0;}
